<div fxLayoutAlign="center center" fxFlexFill class="main-div">
<mat-card fxFlex="25">
    <mat-toolbar color="primary">Acceso Libros</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" [formGroup]="formGroup" (ngSubmit)="loginProcess()">
        <mat-form-field>
            <input matInput placeholder="Usuario" formControlName="usuario">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
            <button mat-raised-button type="submit">Login</button>
    </form>
</mat-card>
</div>
