<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>CATALOGO DE LIBROS</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="controles-container">
<div class="demo-button-container">
    <button mat-raised-button (click)="addData()" class="demo-button">
      Nuevo libro
    </button>
  </div>
  
  <div class="search-div">
    <mat-form-field class="search-form-field" >
      <input  matInput [(ngModel)]="searchKey" placeholder="Buscador" autocomplete="off" (keyup)="applyFilter()">
      <button *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>


  <table mat-table [dataSource]="listData" class="mat-elevation-z8 demo-table" matSort>
      <!-- Symbol Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
      </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="autor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
      <td mat-cell *matCellDef="let element">{{element.autor}}</td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="anio">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Año</th>
      <td mat-cell *matCellDef="let element">{{element.anio}}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estatus">
        <th mat-header-cell *matHeaderCellDef>Estatus</th>
        <td mat-cell *matCellDef="let element">{{element.estatus}}</td>
        </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Selecciona el numero de pagina">
  </mat-paginator>

</div>