<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Alta de libros</span>
    </mat-toolbar-row>
</mat-toolbar>
<form [formGroup]="libroService.form" class="normal-form">
    <div class="controles-container">
        <input hidden formControlName="$id">
        <mat-form-field>
            <input formControlName="nombre" matInput placeholder="Nombre Libro">
            <mat-error>Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="autor" matInput placeholder="Autor">
            <mat-error>Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input formControlName="año" matInput placeholder="Año">
            <mat-error>Campo obligatorio</mat-error>
        </mat-form-field>
      
        <div class="button-row">
            <button mat-raised-button color="primary" type="submit" [disabled]="libroService.form.invalid" (click)="onSubmit()">Guardar</button>
            <button mat-raised-button color="warn" type="submit" (click)="onClose()">Cancelar</button>
        </div>
       
       
    </div>
</form>